/* ***********************************************************
nav
**************************************************************/

header > img {
    position: relative;

    width: 100vw;
    height: 50vh;
    object-fit: cover;

    filter: brightness(.25);
    background-color: black;
}


header nav {
    position: absolute;

    top: -2em;
    align-items: center;

    display: flex;
    justify-content: space-between;
    width: 100vw;

    padding: 10em;
    padding-top: 5em;
}

header nav img:last-of-type {
    width: 5em;
    height: 3.5em;
}

header nav a img:first-of-type {
    width: 4em;
    height: auto;

    background-color: transparent;
} 

header h1 {
    position: absolute;
    top: 4em;
    left: 2.19em;

    width: 33vw;

    padding: 0;
}

header h1 {
    color: var(--color-background);
    font-size: 5em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {
    header nav {
        padding: 2em;
        padding-top: 4em;
    }

    header h1 {
        left: 1em;
    }

}


/* ***********************************************************
eerste section
**************************************************************/

main section:nth-of-type(1) h2 {
    margin: 2em;
    margin-bottom: 0;
    margin-left: 8.5em;
}


main section:nth-of-type(1) h3 {
    font-size: 1.5em;

    margin: 2em;
    margin-top: .2em;
    margin-left: 7.5em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {
    main section:nth-of-type(1) h2 {
        margin-left: 2em;
        margin-right: 2em;
    }

    main section:nth-of-type(1) h3 {
        margin-left: 1.8em;
        margin-right: 2em;
    }

}

/* ***********************************************************
tweede section
**************************************************************/

main section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;

    background-color: white;
    border-radius: .5em;

    margin-left: 11em;
    margin-right: 11em;
    padding: 2em;
    padding-top: 1em;
}

main section:nth-of-type(2) h2 {
    font-weight: 800;
    color: var(--color-header);

    margin:0;
}

main section:nth-of-type(2) section:nth-of-type(1) {
    display: block;

    margin: 0;
}

main section:nth-of-type(2) section:nth-of-type(1) h2 {
    margin-bottom: 1em;
}

main section:nth-of-type(2) section:nth-of-type(2) {
    display: inline-block;
    width: 50vw;

    margin: 0;
    padding: 0;
}

main section:nth-of-type(2) section:nth-of-type(2) p {
    line-height: 1.4em;

    margin-top: 1em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {
    main section:nth-of-type(2) {
        flex-direction: column;
        margin-left: 2em;
        margin-right: 2em;
    }

    main section:nth-of-type(2) section:nth-of-type(1) {
        margin-top: 1em;
    }

    main section:nth-of-type(2) section:nth-of-type(2) {
        margin-top: 2em;
        width: auto;
    }
}



/* ***********************************************************
derde section
**************************************************************/

section:nth-of-type(3) {
    position: relative;
    display: flex;
    gap: 6.8em;

    margin-left: 13em;
    margin-top: 5em;
    margin-bottom: 5em;
}

section:nth-of-type(3) section:nth-of-type(1) img {
    width: 20vw;
}

section:nth-of-type(3) section:nth-of-type(2) {
    display: block;
    width: 50vw ;
    
    background-color: transparent;

    margin: 0;
    padding: 0;
    padding-top: 0;

}

section:nth-of-type(3) section:nth-of-type(2) h2 {
    margin-bottom: 2em;
}

section:nth-of-type(3) section:nth-of-type(2) ul {
    list-style: none;
}

section:nth-of-type(3) section:nth-of-type(2) li p {
    font-size: 1em;
    color:  rgb(0, 0, 0);
    font-family: "montserratLight";

    margin-bottom: 3em;
}

section:nth-of-type(3) section:nth-of-type(2) li h3 {
    font-family: "montserratMedium";
    margin-bottom: .5em;
    font-size: 1em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {
    section:nth-of-type(3) {
        flex-direction: column;
        text-align: center;

        margin-left: 2em;
        margin-right: 2em;
    }

    section:nth-of-type(3) section:nth-of-type(1) img {
        width: 50vw;
    }
    section:nth-of-type(3) section:nth-of-type(2) {
        text-align: left;
        width: 80vw;
        margin-left: 1em;
    }
}

/* ***********************************************************
Vierde section
**************************************************************/

section:nth-of-type(4) {
    margin-left: 13em;
    margin-top: 5em;
    margin-bottom: 7em;
}

section:nth-of-type(4) img {
    width: 76vw;
    height: 45em;
    object-fit: cover;
    border-radius: .5em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {

    section:nth-of-type(4) {
        margin-left: 3em;
        margin-top: 2em;
        margin-bottom: 7em;
    }

    section:nth-of-type(4) img {
        width: 80vw;
        height: 20em;
        object-fit: cover;
    }
}