body {
    overflow-x: hidden;
}

header > img {
    position: relative;

    width: 100vw;
    height: 50vh;
    object-fit: cover;

    filter: brightness(.4);
    background-color: black;
}

header nav {
    position: absolute;

    top: -2em;
    align-items: center;

    display: flex;
    justify-content: space-between;

    width: 100vw;

    padding: 10em;
    padding-top: 5em;
}

header nav img:last-of-type {
    width: 5em;
    height: 3.5em;
}

header nav a img:first-of-type {
    width: 4em;
    height: auto;

    background-color: transparent;
} 

header h1 {
    position: absolute;
    top: 4em;
    left: 2.2em;

    width: 100vw;

    padding: 0;

}

header h1 {
    color: var(--color-background);
    font-size: 5em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 667px) {
    header nav {
        padding: 2em;
        padding-top: 4em;
    }

    header h1 {
        left: 1em;
        font-size: 4em;
    }

    header > img {
        position: relative;
    
        width: 100vw;
        height: 50vh;
        object-fit: cover;

        filter: brightness(.4);
        background-color: black;

        margin: 0;
    }

}

/* ***********************************************************
eerste section
**************************************************************/

main section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;

    background-color: white;
    border-radius: .5em;

    margin-left: 11em;
    margin-right: 11em;
    margin-top: 2em;
    padding: 2em;
    padding-top: 1em;

}

main section:nth-of-type(1) h2 {
    font-weight: 800;
    color: var(--color-header);

    margin:0;
}

main section:nth-of-type(1) section:nth-of-type(1) {
    display: block;

    margin: 0;
    padding: 0;
}

main section:nth-of-type(1) section:nth-of-type(1) h2 {
    margin-bottom: 1em;
}

main section:nth-of-type(1) section:nth-of-type(2) {
    display: inline-block;

    width: 48vw;

    margin: 0;
    padding: 0;
}

main section:nth-of-type(1) section:nth-of-type(2) p {
    line-height: 1.4em;

    margin-top: 1em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {
    main section:nth-of-type(1) {
        flex-direction: column;

        margin-left: 2em;
        margin-right: 2em;
    }

    main section:nth-of-type(1) section:nth-of-type(1) {
        margin-top: 1em;
    }

    main section:nth-of-type(1) section:nth-of-type(2) {
        width: auto;
        margin-top: 2em;
    }
}


/* ***********************************************************
tweede section
**************************************************************/

main section:nth-of-type(2) {
    display: flex;

    margin-top: 3em;
    margin-left: 11em;
    margin-right: 11em;
    margin-bottom: 5em;
}


main section:nth-of-type(2) section:nth-of-type(1) {
    display: block;

    background-color: transparent;

    margin: 0;
    padding: 0;

}

main section:nth-of-type(2) section:nth-of-type(1) img {
    width: 27vw;

    margin-top: 2em;
}

main section:nth-of-type(2) section:nth-of-type(2) {
    display: block;

    margin: 0;
    padding: 0;
    margin-left: 3em;
}

main section:nth-of-type(2) section:nth-of-type(2) h2 {
    margin-bottom: 2em;
}

main section:nth-of-type(2) section:nth-of-type(2) h3 {
    font-family: 'MontserratMedium';
    font-size: 1em;
    color: var(--color-header);
}

main section:nth-of-type(2) section:nth-of-type(2) p {
    margin-top: 0;
    margin-bottom: 1em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {
    main section:nth-of-type(2) {
        flex-direction: column;

        margin-left: -1em;
        margin-right: 1em;
    }

    main section:nth-of-type(2) section:nth-of-type(1) {
        margin-top: 1em;
        margin-left: 3em;
    }

    main section:nth-of-type(2) section:nth-of-type(1) img {
        width: 85vw;
        margin-top: 2em;
    }

    main section:nth-of-type(2) section:nth-of-type(2) {
        width: auto;
        margin-top: 2em;
    }
}

/* ***********************************************************
derde section
**************************************************************/

main section:nth-of-type(3) {
    margin-top: 3em;
    margin-left: 11em;
    margin-right: 11em;
    margin-bottom: 5em;
}

main section:nth-of-type(3) ul {
    display: flex;
    overflow-x: auto;
    list-style: none;
}

main section:nth-of-type(3) ul img {
    width: 33em;
    height: 25em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {
    main section:nth-of-type(3) {
        margin: 3em 1em 5em;
    }

    main section:nth-of-type(3) ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    main section:nth-of-type(3) ul img {
        width: 100%;
        max-width: none;
    }
}