body {
    overflow-x: hidden;
}

header > img {
    position: relative;

    width: 100vw;
    height: 50vh;
    object-fit: cover;

    filter: brightness(.4);
    background-color: rgb(117, 117, 117);
}

header nav {
    position: absolute;

    top: -2em;
    align-items: center;

    display: flex;
    justify-content: space-between;

    width: 100vw;

    padding: 10em;
    padding-top: 5em;
}

header nav img:last-of-type {
    width: 5em;
    height: 3.5em;
}

header nav a img:first-of-type {
    width: 4em;
    height: auto;

    background-color: transparent;
} 

header h1 {
    position: absolute;
    top: 4em;
    left: 2.2em;

    width: 100vw;

    padding: 0;

}

header h1 {
    color: var(--color-background);
    font-size: 5em;
}


/* ***********************************************************
eerste section
**************************************************************/

main section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;

    background-color: white;
    border-radius: .5em;

    margin-left: 11em;
    margin-right: 11em;
    margin-top: 2em;
    padding: 2em;
    padding-top: 1em;
}

main section:nth-of-type(1) h2 {
    font-weight: 800;
    color: var(--color-header);

    margin:0;
}

main section:nth-of-type(1) section:nth-of-type(1) {
    display: block;

    margin: 0;
}

main section:nth-of-type(1) section:nth-of-type(1) h2 {
    color: var(--color-header);
    margin-bottom: 1em;
}

main section:nth-of-type(1) section:nth-of-type(2) h2 {
    margin-bottom: 1em;
    font-family: 'MontserratLight';
}

main section:nth-of-type(1) section:nth-of-type(2) {
    display: inline-block;
    width: 50vw;

    margin: 0;
    padding: 0;
    margin-top: 1em;
}

main section:nth-of-type(1) section:nth-of-type(2) p {
    line-height: 1.4em;

    margin-top: 1em;
}

/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {
    main section:nth-of-type(1) {
        flex-direction: column;
        margin-left: 2em;
        margin-right: 2em;
    }

    main section:nth-of-type(1) section:nth-of-type(1) {
        margin-top: .5emem;
        margin-left: 0;
        padding-left: 0;
    }

    main section:nth-of-type(1) section:nth-of-type(2) {
        margin-top: 2em;
        width: auto;
    }
}


/* ***********************************************************
tweede section
**************************************************************/

section:nth-of-type(2) {
    margin-left: 11em;
    margin-right: 11em;
    margin-top: 5em;
    margin-bottom: 7em;
}

section:nth-of-type(2) h2 {
    font-family: 'MontserratMedium';
    margin-left: .3em;
    color: var(--color-header);
}

section:nth-of-type(2) ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

    margin-top: 2em;
}

section:nth-of-type(2) ul img {
    width: 25em;
    height: 28em;
    border-radius: .5em;
}


/* ******************** Responsive *********************** */

@media screen and (max-width: 600px) {
    main section:nth-of-type(2) {
        margin: 3em 1em 5em;
    }

    main section:nth-of-type(2) ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    main section:nth-of-type(2) ul img {
        width: 25em;
        height: 28em;
        max-width: none;
    }
}